@model VoterRegistrationMVC.Models.IVoterSearchesCriteriaView


 


<div id="SearchBox" class="editor">

    <form id="frmCriteria" action="~/VoterSearch/Search" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.VoterSearchCriteriaModel.Petitions, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.VoterSearchCriteriaModel.PetitionID, Model.VoterSearchCriteriaModel.Petitions, new { htmlAttributes = new { @id = "PetitionDDL", @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.VoterSearchCriteriaModel.PetitionID, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(x => x.VoterSearchCriteriaModel.Page, new { id = "page" })
                <div class="clearfix"></div>
                <div class="form-group">
                    @Html.Label("First Name:", null, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.VoterSearchCriteriaModel.FirstName, null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    @Html.Label("Last Name:", null, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.VoterSearchCriteriaModel.LastName, null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input id="SearchButton" type="submit" value="Search" onclick="DoSubmit()"/>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-6">
                <div class="form-group" style="white-space:nowrap">
                    @Html.LabelFor(m => m.VoterSearchCriteriaModel.PetitionDetailValues, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="white-space:nowrap">
                        @Html.DropDownListFor(m => m.VoterSearchCriteriaModel.PetitionDetailID, Model.VoterSearchCriteriaModel.PetitionDetailValues, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.VoterSearchCriteriaModel.PetitionDetailID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group" style="white-space:nowrap">
                    @Html.Label("House Number:", null, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => Model.VoterSearchCriteriaModel.HouseNumber, null, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        @Html.HiddenFor(x => x.VoterSearchCriteriaModel.Page, new { id = "page" })


    </form>

     
        


</div>

<script>
    function DoSubmit() {
        //If we reclick the search button it makes sense to send us back to page 1
        document.getElementById("page").value = "1";
         
        document.getElementById("frmCriteria").submit();
    }
</script>




